.main {
  margin: 0 16px;
}

.tableLinks {
  padding: 0;
  margin-top: 16px;
  padding-left: 0;
  list-style: none;
}

.tableLinkContainer {
  margin-top: 16px;
}

.tableLinkContainer:first-of-type {
  margin-top: 24px;
}

.tableLink {
  text-decoration: none;
  margin-top: 16px;
  color: #2596be;
}

.displayNone {
  display: none;
}

.h2 {
  font-size: 20px;
}